<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935766045267-cgo5fkkk59a1udrnavb8g91soqscgnpt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935766045267-cgo5fkkk59a1udrnavb8g91soqscgnpt</string>
	<key>API_KEY</key>
	<string>AIzaSyBYldn6HDMim5cSHvEEmHB1o9_hPyW9-GQ</string>
	<key>GCM_SENDER_ID</key>
	<string>935766045267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test-app</string>
	<key>PROJECT_ID</key>
	<string>test-app-notifications-2adce</string>
	<key>STORAGE_BUCKET</key>
	<string>test-app-notifications-2adce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935766045267:ios:f4ef34c6dcf485c6de4ca6</string>
</dict>
</plist>